<% provide(:title,"Home")%>
<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<form id="new_form" name="task" role="form" enctype="multipart/form-data">
  <input type="file" name="avatar" class="form-control" id="avatar" accept="image/*">
  <input type="submit" class="btn btn-success" id="submit">
</form>