<% provide(:title,"Students")%>
<div class="container mt-4">
	<div class="row">
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-body">
	        <h5 class="card-title text-center">BCA</h5>
	        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        <a href="/bcas" class="btn btn-primary">All students</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-body">
	        <h5 class="card-title">MCA</h5>
	        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        <a href="/mcas" class="btn btn-primary">All students</a>
	      </div>
	    </div>
	  </div>
	</div>
</div>